doctype html
html
  head
    title Character Chat
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery-3.5.1.min.js')
  body
    #messages
    form
      input#m(autocomplete="off", onkeypress="addLetter()", onkeyup="empty()" )
    p Currently online: 
        span#curOnline
script(src='/js/scripts.js')