doctype html
html
  head
    title Character Chat
    link(rel='stylesheet', href='/css/98.css')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery-3.5.1.min.js')
  body
    .title-bar
        .title-bar-text Currently online: 
          span#curOnline
        .title-bar-controls
          a(href='https://github.com/MikkoKarvonen/character_chat', target="_blank")
            button(aria-label="Help")
    .title-bar
        .title-bar-text Characters typed in this session: 
          span#totalTyped
    div#chatBox
      .window
        .title-bar
          .title-bar-text Character chat
          .title-bar-controls
            button(aria-label="Minimize")
            button(aria-label="Maximize")
            button(aria-label="Close")
        .window-body
          #messages
    form#input
      .field-row
        label
        input#m(autocomplete="off", onkeypress="addLetter()", onkeyup="empty()" )
script(src='/js/scripts.js')