html,
body {
  background-color: #008080;
  margin: 0;
}

#chatBox,
#messages,
#input {
  display: flex;
  justify-content: center;
}

#chatBox {
  margin-top: 25px;
}

#messages,
#m {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}

#m {
  width: 20px;
  margin-top: 20px;
}
